* {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card {
    padding: 16px;
    text-align: center;
    background-color: red;
  }

  .column2 {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  
  .row2 {margin: 0 -5px;}
  
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card2 {
    padding: 16px;
    text-align: center;
    background-color: red;
  }

  .column3 {
    float: right;
    width: 20%;
    padding: 0 10px;
  }

  .card3 {
    padding: 5px;
    text-align: center;
    background-color: red;
  }

  h1 {
    font-size: 40px;
    background-color: lightblue;
    padding: 100px;
  }

  h2 {
    font-size: 30px;
    padding: 20px;
  }

  h3 {
    font-size: 20px;
    padding: 5px;
  }

  nav {
    float: right;
    width: 25%;
    padding: 10px;
  }

  button {
    padding: 10px;
  }
